/*-- scss:defaults --*/
$presentation-heading-color: #8B2252;
$body-color: #333333;
$link-color: #C0392B;

/*-- scss:rules --*/
.reveal .slide-footer {
  font-size: 0.55em;
  color: #999;
}

.reveal h2 {
  border-bottom: 3px solid #F2A6B6;
  padding-bottom: 0.3em;
}

.reveal .callout-note {
  border-left-color: #F2A6B6;
}

.reveal .callout-tip {
  border-left-color: #4A7C59;
}

.reveal table {
  font-size: 0.85em;
}
